@import url(jess.css);
/*@import url(nat.css);*/
@import url(zac_override.css);
@import url(hover-meta.css);
@import url(search-auto-complete.css);
@import url(global_elements.css);
@import url(home.css);
@import url(popular.css);
@import url(player.css);

/*  Body  */


body {
background-color: #FCFCFC;
}

#page-left-shadow {
  display: none;
}

#page-right-shadow {
  display: none;
}


body #wrap #page-right-shadow {
    right: 0px;
    top: 0px;
    background-position: -24px 0;
    height: 1px;
    width: 8px;
    background-repeat: repeat-y;
    width: 8px;
    height: 100%;
}

a.blue-link {
  color: #3370BB;
}

a:hover {

/*new hulu*/
  color: #72DE93;
}

div {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
}


/*  Navigation  */


body #wrap #inner-wrap div#banner .page-width .header #logo div {
    background: url(http://localhost:8888/bowie/images/sprite3.png) no-repeat 2px -603px;
    height: 20px;
    width: 84px;
}

/*  Masthead  */

#masthead #key-art ul.slides li div.metadata .headline .shadow {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 48px;
  visibility: hidden;
  line-height: 1.1;
  text-shadow: none;
  width: 470px;
}

#masthead #key-art ul.slides li div.metadata .headline .origin {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1.1;
  text-shadow: none;
  width: 470px;

}

#masthead #key-art ul.slides li div.metadata .description .shadow {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 400;
  visibility: hidden;
  line-height: 24px;
  text-shadow: none;
  width: 470px;
  font-size: 18px;
}

#masthead #key-art ul.slides li div.metadata .description .origin {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-shadow: none;
  width: 470px;
  font-size: 18px;
}


#masthead #key-art ul.slides li div.metadata {
  text-shadow: 0px;
}

#masthead #key-art ul.slides li div.metadata .title .shadow {
       font-family: 'Graphik', Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-shadow: none;
    color: #fff;
}

#masthead #key-art ul.slides li div.metadata .title .origin {
   font-family: 'Graphik', Helvetica, Arial, sans-serif;
}

#masthead #key-art ul.slides li div.metadata .promotional-text .shadow {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-style: normal;
    font-size: 14px;
    text-shadow: none;
    width: 470px;
    color:#ffffff;
}

#masthead #key-art ul.slides li div.metadata .promotional-text .origin {

        display: none;
}
#masthead #key-art ul.slides li div.metadata .title .origin {
    display: none;
}

.masthead-sprite, {
/*background-image: url(https://s3.amazonaws.com/uploads.hipchat.com/16288/4140895/FA5rz1nqECW3wdg/sprite1.png);*/

}

/*  Trays   */
div#wrap{
  background-color:#f5f5f8;
}
#content{
    margin-top: 42px;
}
.tray {
    margin: 15px auto 10px auto;
}

.tray h3 a {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
/*  font-weight: 300;
  color: #1e1e1e;*/
  text-shadow: none;
  font-size: 24px;
  letter-spacing: -1px;
}

.tray h3 a:hover {
  color: #2DBD9D;
  text-shadow: none;
}

div.tray div.item div.thumbnail {
  /*border: none;*/
}

div.item.size-1x1 div.thumbnail div.description {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
}

div.tray div.item.size-1x1.short-form-overlay div.metadata-area div.headline {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #1e1e1e;
}

div.tray div.item.size-1x1.short-form-overlay div.metadata-area div.desc {
  color: #aeb4bf;
}

/*  Watchlist   */

div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area div.headline {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area div.desc {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  color: #aeb4bf;
}

div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area div.desc.hover {
}

div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area div.secondary {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  color: #aeb4bf;
}

/* sub list divider */
div.filters div.radiolist-wrapper .btn.active {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    color: #5E6573;
    font-weight:500;
  }
  div.filters div.radiolist-wrapper .btn {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    color: #5E6573;
}
div.filters div.radiolist-wrapper .btn:hover {
    color: #2DBD9D;
}

/*  Badge */
div.grid div.item div.badge-on-thumb.watchlist-new-episode, div.grid div.item div.badge-on-thumb.watchlist-count, div.grid div.item div.badge-on-thumb.expiring-soon, div.grid div.item div.badge-on-thumb.warning, div.grid div.item div.badge-on-thumb.emphasis, div.grid div.item div.badge-on-thumb.info, div.tray div.item div.badge-on-thumb.watchlist-new-episode, div.tray div.item div.badge-on-thumb.watchlist-count, div.tray div.item div.badge-on-thumb.expiring-soon, div.tray div.item div.badge-on-thumb.warning, div.tray div.item div.badge-on-thumb.emphasis, div.tray div.item div.badge-on-thumb.info{
    right: -3px;
    top: -3px;
    z-index: 10;
    color: #FFFFFF;
    font-family: "graphik", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 0 12px;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    text-align: center;
    background: #2DBD9D;
  }

/* Editorial Tray */

div.tray div.item.editor div.editorial-panel {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  bottom: auto;
}

div.tray div.item.editor div.editorial-panel .title {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #1e1e1e;
}

div.tray div.item.editor div.editorial-panel .desc {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #5e6573;
  padding-top: 16px;
}

div.tray div.item div.description div.title {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

div.tray div.item.size-1x1 div.thumbnail div.description div.subtitle {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  color: #ecedf2;
}

div.tray div.item div.rank {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-size: 400;
}

/*  Show    */

#show-description .text-container .details-info-static {
 font-size: 16px;
 line-height: 1.5;
}

#show-description .text-container .details-info-static .text-break h1, #show-description .text-container .details-info-static .text-truncate h1, #show-description .text-container .details-info-static .text-rest h1 {
 font-size: 16px;
}

#show-description #smart-video .header-title {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #35bd33;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-top: -4px;
  padding-bottom: 16px;
}

/* Nat */

#watchlistpage-subnav {
    border-bottom: none;
    background-image: linear-gradient(to left, #92ED8D 0%, #64D98B 42.64%, #05AAA3 100%);
    z-index: 100;
    position: fixed;
    top: 60px;
    width: 100%;
    max-width: 1600px;
}

element.style {
}
#watchlistpage-subnav .title {
    margin-top: 10px;
    letter-spacing: -2;
    padding-right: 30px;
    float: left;
    font-family: "Graphik", Helvetica, Arial, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 300;
    text-transform: none;
}


@import url(welcome_override.css);