@import url(jess.css);
/*@import url(nat.css);
*/@import url(zac_override.css);


/*  Body  */


body {
background-color: #FCFCFC;
}

#page-left-shadow {
  display: none;
}

#page-right-shadow {
  display: none;
}


body #wrap #page-right-shadow {
    right: 0px;
    top: 0px;
    background-position: -24px 0;
    height: 1px;
    width: 8px;
    background-repeat: repeat-y;
    width: 8px;
    height: 100%;
}

a.blue-link {
  color: #3370BB;
}

a:hover {
/*  color: #35BD33;
*/
/*new hulu*/
  color: #5ba576;
}


/*  Navigation  */


body #wrap #inner-wrap div#banner .page-width .header #logo div {
  background-repeat: no-repeat;
  background-position: -258px -353px;
  height: 20px;
  width: 54px;
}

/*  Masthead  */

#masthead #key-art ul.slides li div.metadata .headline .shadow {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 48px;
  visibility: hidden;
  line-height: 1.1;
}

#masthead #key-art ul.slides li div.metadata .headline .origin {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1.1;
}

#masthead #key-art ul.slides li div.metadata .description .shadow {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 400;
  visibility: hidden;
  line-height: 1.35;
}

#masthead #key-art ul.slides li div.metadata .description .origin {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.35;
}


#masthead #key-art ul.slides li div.metadata {
  text-shadow: 0px;
}

#masthead #key-art ul.slides li div.metadata .title .shadow {
   font-family: 'Graphik', Helvetica, Arial, sans-serif;
}

#masthead #key-art ul.slides li div.metadata .title .origin {
   font-family: 'Graphik', Helvetica, Arial, sans-serif;
}

#masthead #key-art ul.slides li div.metadata .promotional-text .shadow {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 400;
  visibility: hidden;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: normal;
  font-size: 14px;
}

#masthead #key-art ul.slides li div.metadata .promotional-text .origin {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: normal;
  font-size: 14px;
}

.masthead-sprite, {
background-image: url(https://s3.amazonaws.com/uploads.hipchat.com/16288/4140895/FA5rz1nqECW3wdg/sprite1.png);

}

/*  Trays   */

.tray h3 a {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #1e1e1e;
  text-shadow: none;
}

.tray h3 a:hover {
  color: #35bd33;
  text-shadow: none;
}

div.tray div.item div.thumbnail {
  /*border: none;*/
}

div.item.size-1x1 div.thumbnail div.description {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
}

div.tray div.item.size-1x1.short-form-overlay div.metadata-area div.headline {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #1e1e1e;
}

div.tray div.item.size-1x1.short-form-overlay div.metadata-area div.desc {
  color: #aeb4bf;
}

/*  Watchlist   */

div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area div.headline {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area div.desc {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  color: #aeb4bf;
}

div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area div.desc.hover {
  color: #35BD33;
}

div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area div.secondary {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  color: #aeb4bf;
}

/* Editorial Tray */

div.tray div.item.editor div.editorial-panel {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  bottom: auto;
}

div.tray div.item.editor div.editorial-panel .title {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #1e1e1e;
}

div.tray div.item.editor div.editorial-panel .desc {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #5e6573;
  padding-top: 16px;
}

div.tray div.item div.description div.title {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

div.tray div.item.size-1x1 div.thumbnail div.description div.subtitle {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  color: #ecedf2;
}

div.tray div.item div.rank {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-size: 400;
}

/*  Show    */

#show-description .text-container .details-info-static {
 font-size: 16px;
 line-height: 1.5;
}

#show-description .text-container .details-info-static .text-break h1, #show-description .text-container .details-info-static .text-truncate h1, #show-description .text-container .details-info-static .text-rest h1 {
 font-size: 16px;
}

#show-description #smart-video .header-title {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #35bd33;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-top: -4px;
  padding-bottom: 16px;
}
