/*******************************************/
/************** HOME *****************/
/*****************************************/

.tray-container {
    display: inline-block;
    width: 100%;
    background-color:#F5F5F8;
  }
  .tray h3 a {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #5E6573;
    font-size: 20px;
  }

div.tray div.item div.badge-on-thumb.watchlist-count {
    right: -3px;
    top: -3px;
    z-index: 10;
    color: #FFFFFF;
    font-family: "graphik", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 0 12px;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    text-align: center;
    background: #2DBD9D;
}
div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area div.headline {
        color: #5E6573;
}

/*******Masthead ********/


/******trays key arts******/
div.tray div.item div.thumbnail {
    border: none;
  }
div.grid div.item.size-1x1.watchlist-overlay .bottom-area, div.tray div.item.size-1x1.watchlist-overlay .bottom-area {
  background-color: #f5f5f8;
  position: relative;
  border: none;  
}
div.grid div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area, div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area {
    width: 195px;
    padding-left: 0px;
  }
div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area div.desc.hover {
    color: #2DBD9D;
}
/***sprite for key art**/
div.grid div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.regular, div.tray div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.regular {
    background-image: url(http://localhost:8888/bowie/images/sprite4.png);
}
div.grid div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.regular:hover, div.tray div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.regular:hover{
      background-image: url(http://localhost:8888/bowie/images/sprite4.png);
}
div.grid div.item div.badge-on-thumb.watchlist-badge.add-to-watchlist.regular, div.tray div.item div.badge-on-thumb.watchlist-badge.add-to-watchlist.regular{
  background-image: url(http://localhost:8888/bowie/images/sprite4.png);
}
/* animation for add to check*/
div.grid div.item div.badge-on-thumb.watchlist-badge.add-to-watchlist.animating, div.tray div.item div.badge-on-thumb.watchlist-badge.add-to-watchlist.animating{
  content:"zac";
  background-image: url(http://localhost:8888/bowie/images/addDelete_animation.png);
  }
  div.grid div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.animating, div.tray div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.animating{
 background-image: url(http://localhost:8888/bowie/images/addDelete_animation.png);
  }
  /*animated state*/
  div.grid div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.animated, div.tray div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.animated{
    content:"zac is great";
  }
/* taking out strange facebook/follow toolbar**/
body.small #tool-item-container .tool-bar{
  display:none;
}
body.medium #tool-item-container .tool-bar{
  display:none;
}
body.large #tool-item-container .tool-bar {
    width: 1426px;
    display: none;
}
div#referral-tab-container{
  display:none;
}
/*******************************************/
/************** HOME END*****************/
/*****************************************/