/*******************************************/
/************** SOCIAL *****************/
/*****************************************/
/*div#tool-item-container {
    width: 100%;
    background-color: #ECEDF2;
    height: 60px;
}*/
body.medium #tool-item-container .tool-bar {
    /* display: none; */
    width: 100%;
        background-color: #ECEDF2;
    height: 60px;
  }
body.large #tool-item-container .tool-bar {
    width: 100%;
    background-color: #ECEDF2;
    height: 60px;
  }

#tool-item-container div.tool-bar .text {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    text-shadow: none;
    font-weight: 400;
    font-size: 12px;
    padding-top:20px;

    }
    #tool-item-container div.tool-bar .follow-icons{
      padding-top:20px;  
    margin-right: 100px;
    }
    div#shelf-list {
    padding-top: 30px;
}

/*******************************************/
/************** SOCIAL START *****************/
/*****************************************/



/*******************************************/
/************** TRAY *****************/
/*****************************************/

.tray-container {
    display: inline-block;
    width: 100%;
    background-color:#F5F5F8;
  }
  .tray h3 a {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #5E6573;
    font-size: 20px;
  }

/*div.tray div.item div.badge-on-thumb.watchlist-count {
    right: -3px;
    top: -3px;
    z-index: 10;
    color: #FFFFFF;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 0 12px;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    text-align: center;
    background: #2DBD9D;
}*/
/*new episode*/
div.tray div.item div.badge-on-thumb.watchlist-new-episode{
    right: -3px;
    top: -3px;
    z-index: 10;
    color: #FFFFFF;
    font-family: "graphik", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 0 12px;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    text-align: center;
    background: #2DBD9D;
  }
  /*grey unwatched*/
div.tray div.item div.badge-on-thumb.watchlist-count {
    right: -3px;
    top: -3px;
    z-index: 10;
    color: #FFFFFF;
    font-family: "graphik", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 0 12px;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    text-align: center;
    background: #868D9B;
    }
div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area div.headline {
        color: #5E6573;
}
/*new badge*/
#show-description #smart-video div.badge-on-thumb.new-badge{
    background-image: url(http://localhost:8888/bowie/images/new_badge.png);
}

.badge-on-thumb.new-badge::after {
    content: "New";
}

.badge-on-thumb.new-badge {
    /* height: 25px !important; */
    background-image: none !important;
    /* width: 100px !important; */
    right: -3px;
    /* top: -1px !important; */
    z-index: 10;
    color: #FFFFFF;
    font-family: "graphik", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    font-weight: 600;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    background: #2DBD9D;
      padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 7px;
    /* content: "New"; */
    padding-right: 6px;
    }

    /**expiring badge*/
  div.tray div.item div.badge-on-thumb.expiring-soon{
          right: -3px;
    top: -3px;
    z-index: 10;
    color: #FFFFFF;
    font-family: "graphik", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 0 12px;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    text-align: center;
    background: #2DBD9D;

     }

/***next arrow**/
.tray a.next {
    background-image: url(http://localhost:8888/bowie/images/sprite5.png);
}
.tray a.next:hover {
    background-image: url(http://localhost:8888/bowie/images/sprite5.png);
}
.tray a.prev {
    background-image: url(http://localhost:8888/bowie/images/sprite5.png);
}
.tray a.prev:hover {
    background-image: url(http://localhost:8888/bowie/images/sprite5.png);
}
.tray h3 a.toggle:after{
      background-image: url(http://localhost:8888/bowie/images/sprite5.png);
      margin-left: 12px;
    margin-bottom: 2px;
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 1px -943px;
    height: 15px;
    width: 10px;
}
.tray h3 a.toggle:hover:after{
      background-image: url(http://localhost:8888/bowie/images/sprite5.png);
          background-repeat: no-repeat;
    background-position: 1px -926px;
    height: 15px;
    width: 20px;
}
/******trays key arts******/
/*div.tray div.item div.thumbnail {
    border: none;
  }*/
div.grid div.item.size-1x1.watchlist-overlay .bottom-area, div.tray div.item.size-1x1.watchlist-overlay .bottom-area {
  background-color: #f5f5f8;
  position: relative;
  border: none;  
}
div.grid div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area, div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area {
    width: 195px;
    padding-left: 0px;
  }
div.tray div.item.size-1x1.watchlist-overlay .bottom-area div.metadata-area div.desc.hover {
    color: #2DBD9D;
}
/***sprite for key art**/
div.grid div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.regular, div.tray div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.regular {
    background-image: url(http://localhost:8888/bowie/images/sprite4.png);
}
div.grid div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.regular:hover, div.tray div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.regular:hover{
      background-image: url(http://localhost:8888/bowie/images/sprite4.png);
}
div.grid div.item div.badge-on-thumb.watchlist-badge.add-to-watchlist.regular, div.tray div.item div.badge-on-thumb.watchlist-badge.add-to-watchlist.regular{
  background-image: url(http://localhost:8888/bowie/images/sprite4.png);
}
/* animation for add to check*/
div.grid div.item div.badge-on-thumb.watchlist-badge.add-to-watchlist.animating, div.tray div.item div.badge-on-thumb.watchlist-badge.add-to-watchlist.animating{
  content:"zac";
  background-image: url(http://localhost:8888/bowie/images/addDelete_animation.png);
  }
  div.grid div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.animating, div.tray div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.animating{
 background-image: url(http://localhost:8888/bowie/images/addDelete_animation.png);
  }
  /*animated state*/
  div.grid div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.animated, div.tray div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.animated{
    content:"zac is great";
  background-image: url(http://localhost:8888/bowie/images/sprite4.png);

  }
/* taking out strange facebook/follow toolbar**/
body.small #tool-item-container .tool-bar{
  /*display:block;*/
}
body.medium #tool-item-container .tool-bar{
/*  display:none;
*/}
body.large #tool-item-container .tool-bar {
/*    display: none;
*/}
div#referral-tab-container{
/*  display:block;
*/}
div#referral-tab-container .refer-button {
    background: #5E6573;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    border-radius: 0px;
    text-transform: uppercase;
    font-size:14px;
  }


/*******************************************/
/************** MEDIA QUERY START*****************/
/*****************************************/
@media (-webkit-min-device-pixel-ratio: 2.0), not all, not all {
.tray a.next {
    background-image: url(http://localhost:8888/bowie/images/sprite5_retina.png);
}
.tray a.next:hover {
    background-image: url(http://localhost:8888/bowie/images/sprite5_retina.png);
}
.tray a.prev{
  background-image: url(http://localhost:8888/bowie/images/sprite5_retina.png);
}
.tray a.prev:hover{
  background-image: url(http://localhost:8888/bowie/images/sprite5_retina.png);
}
.tray h3 a.toggle:after{
      background-image: url(http://localhost:8888/bowie/images/sprite5_retina.png);
    background-size: 114px 918px;
    background-position: 0 -734px;
}
.tray h3 a.toggle:hover:after{
      background-image: url(http://localhost:8888/bowie/images/sprite5_retina.png);
          background-repeat: no-repeat;
  background-position: 0 -720px;
  background-size: 114px 918px;
  height: 15px;
  width: 20px;
}




div.grid div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.regular, div.tray div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.regular {
    background-image: url(http://localhost:8888/bowie/images/sprite5_retina.png);
}
div.grid div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.regular:hover, div.tray div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.regular:hover{
      background-image: url(http://localhost:8888/bowie/images/sprite5_retina.png);
}
div.grid div.item div.badge-on-thumb.watchlist-badge.add-to-watchlist.regular, div.tray div.item div.badge-on-thumb.watchlist-badge.add-to-watchlist.regular{
  background-image: url(http://localhost:8888/bowie/images/sprite5_retina.png);
}
/* animation for add to check*/
div.grid div.item div.badge-on-thumb.watchlist-badge.add-to-watchlist.animating, div.tray div.item div.badge-on-thumb.watchlist-badge.add-to-watchlist.animating{
  content:"zac";
  background-image: url(http://localhost:8888/bowie/images/addDelete_animation.png);
  }
  div.grid div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.animating, div.tray div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.animating{
 background-image: url(http://localhost:8888/bowie/images/addDelete_animation.png);
  }
  /*animated state*/
  div.grid div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.animated, div.tray div.item div.badge-on-thumb.watchlist-badge.delete-from-watchlist.animated{
    content:"zac is great";
  background-image: url(http://localhost:8888/bowie/images/sprite5_retina.png);

  }
}
/*******************************************/
/************** HOME END*****************/
/*****************************************/