div#footer {
    background: #fcfcfc;

}


body #wrap #inner-wrap div#banner .page-width .header #logo div {
  background-repeat: no-repeat;
  background-position: -258px -353px;
  height: 20px;
  width: 54px;
}
