div#footer {
    background: #fcfcfc;
    /* position: relative; */
    color: #AEB4BF;
}


body #wrap #inner-wrap div#banner .page-width .header #logo div {
  background-repeat: no-repeat;
  background-position: -258px -353px;
  height: 20px;
  width: 54px;
}

.tray.TYPE_S_ONE_ROW_NAV {
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ECEDF2;
    border-top: 1px solid #ECEDF2;
    margin-top: 0px;
    margin-bottom: 0px;
}

#masthead {
    background-image: url();

}

div#referral-tab-container .refer-button {
    background: #05AAA3;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 3px;
    /* letter-spacing: 2px; */
}

element.style {
}

#tool-item-container div.tool-bar .text {
    padding-top: 20px;
    line-height: 20px;
    height: 20px;
    float: right;
    text-transform: uppercase;
    color: #5E6573;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}

div.tray div.item div.badge-on-thumb.watchlist-count {
    right: -3px;
    top: -3px;
    z-index: 10;
    color: #FFFFFF;
    font-family: "graphik", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 0 14px;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    background: #05AAA3;


}

body #wrap #inner-wrap div#banner .page-width #search-container form#search-form div.input-wrapper {
    width: 218px;
    height: 26px;
    padding: 3px 3px 4px 3px;
    background: url(file:///Applications/MAMP/htdocs/bowie/images/common-retina-s1e0f4fc06b-2e5a7eb36176bed546c63771ad72e91b.png) no-repeat 0 0px;
}

#masthead #key-art ul.slides li div.metadata {
    text-shadow: 0px 0px 1px #aaaaaa;
    position: absolute;
    width: 800px !important;
    bottom: 100px;
}


#tool-item-container div.tool-bar .follow-icons {
    float: right;
    margin-right: -10px;
    padding-top: 20px;
    padding-left: 12px;
}

/*  Show description   */

#show-description {
    position: relative;
    margin: 97px;
    padding-bottom: 35px;
    display: block;
    min-height: 190px;
}

.show-description .text-container {
    width: 1080px;
    margin-right: 32px;
}

#show-description div.show-details {
    display: inline-block;
    width: 1080px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 20px;
    vertical-align: middle;
    line-height: 20px;
}
