div#footer {
    background: #fcfcfc;
    /* position: relative; */
    color: #AEB4BF;
}


/***Width for cover story description***/
#masthead #key-art ul.slides li div.metadata .description .origin{
  width:65%;
}



body #wrap #inner-wrap div#banner .page-width .header #logo div {
  background-repeat: no-repeat;
  background-position: -258px -353px;
  height: 20px;
  width: 54px;
}

.tray.TYPE_S_ONE_ROW_NAV {
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ECEDF2;
    border-top: 1px solid #ECEDF2;
    margin-top: 0px;
    margin-bottom: 0px;
}

#masthead {
    background-image: url();

}

div#referral-tab-container .refer-button {
    background: #05AAA3;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 3px;
    /* letter-spacing: 2px; */
}

element.style {
}

#tool-item-container div.tool-bar .text {
    padding-top: 20px;
    line-height: 20px;
    height: 20px;
    float: right;
    text-transform: uppercase;
    color: #5E6573;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}

div.tray div.item div.badge-on-thumb.watchlist-count {
    right: -3px;
    top: -3px;
    z-index: 10;
    color: #FFFFFF;
    font-family: "graphik", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 0 14px;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    background: #5E6574;

}

body #wrap #inner-wrap div#banner .page-width #search-container form#search-form div.input-wrapper {
    width: 218px;
    height: 26px;
    padding: 3px 3px 4px 3px;
    background: url('http://localhost:8888/bowie/images/bg-search-bar-65f2da57ccdddd3b520b4027ed8ea6b3.png') no-repeat 0 0px;
}

#masthead #key-art ul.slides li div.metadata {
    text-shadow: 0px 0px 1px #aaaaaa;
    position: absolute;
    width: 800px !important;
    bottom: 100px;
}


#tool-item-container div.tool-bar .follow-icons {
    float: right;
    margin-right: -10px;
    padding-top: 20px;
    padding-left: 12px;
}

/*  Show description   */

#show-description {
    position: relative;
    margin: 97px;
    padding-bottom: 35px;
    display: block;
    min-height: 190px;
}

.show-description .text-container {
    width: 1000px;
    margin-right: 32px;
}

#show-description div.show-details {
    display: inline-block;
    width: 1000px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 20px;
    vertical-align: middle;
    line-height: 20px;
}

#show-description #smart-video .header-title {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #5E6573;
    /* text-transform: uppercase; */
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-top: -4px;
    padding-bottom: 16px;
}

.show-description .desc-left {
    width: 224px;
    margin-top: 28px;
    padding-right: 20px;
}

#show-description .desc-left {
    float: left;
}
.show-description .desc-left {
    width: 224px;
    margin-top: 28px;
    padding-right: 80px;
}


a.blue-link {
    color: #2DBD9D;
    font-size: 16px;
}

#show-description .text-container .hide .hide-link {
    display: inline-block;
    margin-right: 6px;
}

#show-description .text-container .details-info-static {
    font-size: 16px;
    line-height: 2;
    color: #5E6573
}


div.tray div.item div.badge-on-thumb.watchlist-new-episode {
      right: -3px;
      top: -3px;
      z-index: 10;
      color: #FFFFFF;
      font-family: "Graphik", Helvetica, Arial, Verdana, sans-serif;
      text-transform: uppercase;
      border-radius: 3px;
      padding: 0 14px;
      font-weight: 600;
      cursor: default;
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      background: #F6235D;
  }
