.onboarding {
  background-color: #f7f7f7;
}

.dialog-canvas .dialog .dialog-title, .dialog-canvas .dialog .dialog-subtitle, .dialog-canvas .dialog .dialog-text, .dialog-canvas .dialog .dialog-expected, .onboarding-tile .texts .taste-name, .onboarding-tile .texts .show-name-text, .onboarding-header .notification-section, .onboarding-header .button-section .skip, .dialog-canvas .dialog .dialog-unexpected {
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
}
.onboarding-header {
    background-color: rgba(255,255,255,0.94);
    background-image: none;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to left, #92ED8D 0%, #64D98B 42.64%, #05AAA3 100%);
    /* border-bottom-width: 30px; */
    border-image-slice: 1;
}

/*logo*/
.green-logo{
  background-image: url(http://localhost:8888/bowie/images/logo_62.png);
}
.onboarding-header .notification-section span {
  color: #5E6573;
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -0.5px;
}

.dialog-canvas .dialog .dialog-expected {
  box-sizing: border-box;
  border: none;
  letter-spacing: 1.5px;
  font-weight: 600;
  background-color: #2DBD9D;
  background-image: linear-gradient(-225deg, #72DE93 0%, #2DBD9D 100%), linear-gradient(90deg, #72DE93 0%, #2DBD9D 100%);
  color: white;
  font-size: 14px;
  padding: 19px 28px 21px;
  margin: 48px auto 32px;
}

.dialog-canvas .dialog .dialog-expected:hover {
  background-image: none;
  background-color: #2DBD9D;
}

.dialog-canvas .dialog .dialog-expected:active {
  padding: 20px 28px 20px;
}

.onboarding-header .button-section .continue-button {
  box-sizing: border-box;
  background: none;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 19px 23px;
  border: none;
}

.onboarding-header .button-section .continue-button.skip {
  box-shadow: inset 0px 0px 0px 1px #AEB4BF;
  border: none;
  background: none;
  color: #5E6573;
}

.onboarding-header .button-section .skip:hover {
  box-shadow: inset 0px 0px 0px 1px #5E6573;
  border: none;
  background: none;
  color: #5E6573;
}

.onboarding-header .button-section .skip:active {
  box-shadow: inset 0px 0px 0px 1px #5E6573;
  background: none;
  color: #5E6573;
  padding: 20px 43px 18px;
}

.onboarding-header .button-section .continue-button.done {
  box-shadow: none;
  border: none;
  color: white;
  background-color: #2DBD9D;
  background-image: linear-gradient(-225deg, #72DE93 0%, #2DBD9D 100%), linear-gradient(90deg, #72DE93 0%, #2DBD9D 100%);
}

.onboarding-header .button-section .continue-button.done:hover {
  border: none;
  background-image: none;
  background-color: #2DBD9D;
}

.onboarding-header .button-section .continue-button.done:active {
  background: none;
  color: #5E6573;
  background-color: #2DBD9D;
  padding: 20px 43px 18px;
}

.onboarding-tile .overlay {
  background-image: linear-gradient(-225deg, #72DE93 0%, #2DBD9D 100%), linear-gradient(90deg, #72DE93 0%, #2DBD9D 100%);
  opacity: 0.60;
}

.dialog-canvas {
}

.dialog-canvas .dialog .dialog-unexpected {
  color: rgba(255,255,255,0.5);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.dialog-canvas .dialog .dialog-unexpected:hover {
  color: rgba(255,255,255,1.0);
}

.recommended-tastes {
  background-color: #ECEDF2;
}

.dialog-canvas .dialog .dialog-title {
  font-weight: 200;
  color:#fff;
}
.dialog-canvas .dialog .dialog-text{
  color:#fff;
}

.onboarding-tile .texts .show-name-text {
  color: rgba(255, 255, 255, 0.7);
  border-right: .1vw solid rgba(255, 255, 255, 0.26);
  font-size: 16px;
  font-weight: 500;
}

.onboarding-tile .texts .taste-name {
  font-weight: 400;
      font-weight: 300;
    font-size: 28px;
}

/*arrow*/
.arrow-btn{
  border: 2px solid #5E6573; 
}

/**/
.selected-tastes-wrapper {
  background-color: rgba(255,255,255,0.6);
}

/*loading rec page*/
.dialog-canvas .dialog .dialog-subtitle, .dialog-canvas .dialog .dialog-text{
  color:#fff;
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-size:18px; 
  font-weight:400;  
}
.dialog-canvas .dialog .icon-text{
   color:#fff;
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  font-size:16px;
  font-weight:400;   
}

/*circle*/
.circle-rail{    
    border: 3px solid #5E6573;
  }
.circle-progress .pie{
 border: 3px solid #72DE93; 
}
.circle-final-wrapper .circle-final{
   border: 3px solid #72DE93; 
}