.profile-selector-overlay .header {
    background-color: #fff;
}
.profile-selector-overlay .header .logo {
    background: url(http://localhost:8888/bowie/images/sprite3.png) no-repeat 2px -603px;
    height: 20px;
    width: 84px;
}
/*profile box*/
.profile-selector {
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.08);
    width: 500px;
    padding: 95px 97px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(94,101,115,0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(94,101,115,0.2);
    box-shadow: 0px 2px 4px 0px rgba(94,101,115,0.2);
}
/*vertical space between elements*/
.profile-selector .profile-item {
    margin-top: 0px;
}
.profile-selector .profile-item {
    margin-top: 0px;
}
.profile-selector .profile-items{
	padding-top:8px;
}
.profile-selector .title {
	  font-family: 'Graphik', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color:#5E6573;
    letter-spacing:-0.75px;
}
.profile-selector-overlay .body {
    background-color: #f5f5f8;
       background-image: none;
    border-top: 3px solid transparent;
    border-image: linear-gradient(to left, #92ED8D 0%, #64D98B 42.64%, #05AAA3 100%);
    /* border-bottom-width: 30px; */
    border-image-slice: 1;
    }
.profile-selector .profile-item .name{
	  font-family: 'Graphik', Helvetica, Arial, sans-serif;
	 color:#2DBD9D;
	  font-weight: 400;
}

.profile-selector .add-profile .text{
	font-family: 'Graphik', Helvetica, Arial, sans-serif;
	    font-weight: 400;
    color: #AEB4BF;
}
.profile-selector .add-profile .text:hover {
    color: #2DBD9D;
}
.profile-selector .add-profile {
    margin-top: 0px;
}
.profile-selector .subtitle{
	font-family: 'Graphik', Helvetica, Arial, sans-serif;
    color: #5E6573;
    padding-bottom: 20px;
}



/*****profile pick pop up****/
.dialog-content .dialog-header .dialog-header-cancel .dialog-cancel-botton {
    position: relative;
    z-index: 10000;
    stroke: #AEB4BF;
    fill: transparent;
    stroke-width: 2px;
    margin-top: 17px;
    margin-right: 17px;
    width: 21px;
}
.dialog-content .dialog-header .dialog-header-cancel .dialog-cancel-botton:hover {
    stroke: #2DBD9D;
}
.dialog-content .dialog-header .dialog-header-content{
	background-color:#fff;
}
.dialog-content .dialog-header .dialog-header-content .dialog-header-title {
    position: absolute;
    margin: 39px -58px 5px -59px;
    width: 470px;
    height: 42px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    color: #5E6573;
}
.profile-create .profile-create-message {
    margin: 17px 33px auto 37px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #5E6573;
    line-height: 20px;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
}
.profile-create .header {
    font-weight: 600;
    font-size: 12px;
    color: #1E1E1E;
    text-transform: uppercase;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
}
/***input fields***/
div.text-input-wrap input {
    color: #333;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    height: 45px;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #E4E4E4;
    }
    div.text-input-wrap input:focus {
    outline: 0;
    border: 1px solid #2DBD9D;
/*    border-image: linear-gradient(to left, #92ED8D 0%, #64D98B 42.64%, #05AAA3 100%);
*/    background-image: none;
    border-top: 1px solid transparent;
/*    border-image: linear-gradient(to left, #92ED8D 0%, #64D98B 42.64%, #05AAA3 100%);
*/    /* border-bottom-width: 30px; */
    border-image-slice: 1;
     border: 1px solid #2DBD9D;
}
    .profile-create .restricted-message {
    margin: 5px auto auto 36px;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #5E6573;
}


/*kid*/
div.check-box-wrap.toggle input+label {
    position: relative;
    background-color: #ECEDF2;
    padding: 9px;
    display: inline-block;
    width: 58px;
    height: 10px;
    border-radius: 100px;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    line-height: normal;
    cursor: pointer;
    color: c;
        font-family: 'Graphik', Helvetica, Arial, sans-serif;
}
div.check-box-wrap.toggle input:checked+label {
    background-color: #2DBD9D;
}
div.check-box-wrap.toggle input+label:before {
    content: ' ';
    position: absolute;
    background: #fff;
    top: -1px;
    left: -2px;
    z-index: 99999;
    width: 30px;
    height: 30px;
    border-radius:100%;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.25);
    }
div.check-box-wrap.toggle input+label:after {
    content: 'OFF';
    position: absolute;
    font-weight: 500;
    font-size: 12px;
    top: 8px;
    left: 38.5px;
    width: 25px;
    height: 17px;
    text-align: center;
    color: #5E6573;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;

}



/**birthdate**/
/*div.select-wrap.select2 .Select, div.select-wrap.select2 .Select div, div.select-wrap.select2 .Select input, div.select-wrap.select2 .Select span {
    box-sizing: border-box;
    border: none;
}*/
div.select-wrap.select2 .is-focused:not(.is-open)>.Select-control, div.select-wrap.select2 .is-focused>.Select-control, div.select-wrap.select2:focus .Select-control{
	border-color:#2DBD9D;
}
/*value*/
div.select-wrap.select2 .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label, div.select-wrap.select2 .has-value.Select--single>.Select-control .Select-value .Select-value-label{
	color:#1E1E1E;
}
div.select-wrap.select2 .Select-menu-outer{
	border: 1px solid #ECEDF2;
}
/*hover value*/
div.select-wrap.select2 .Select-option.is-focused{
	background-color:#2DBD9D;
}
div.select-wrap.select2 .Select-option, div.select-wrap.select2 .Select-placeholder, div.select-wrap.select2 .Select-value-label {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #AEB4BF;

}
div.select-wrap.select2 .Select-control {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    height: 100%;
    border-radius: 0;
	border: 1px solid #E4E4E4;    
	background-color: #ffffff;
   }
/*birthdate tooltip*/
.profile-create .header-birthdate .field_tooltip .tooltip{
	    -webkit-box-shadow: 0px 2px 4px 0px rgba(94,101,115,0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(94,101,115,0.2);
    box-shadow: 0px 2px 4px 0px rgba(94,101,115,0.2);

}
.profile-create .header-birthdate .field_tooltip .tooltip .tooltip_text {
    margin: 0 5px;
    text-transform: none;
	font-family: 'Graphik', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #5E6573;
}
.profile-create .header-birthdate .field_tooltip .tooltip .tooltip_arrow:after {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(94,101,115,0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(94,101,115,0.2);
    box-shadow: 0px 2px 4px 0px rgba(94,101,115,0.2);
    }
/**gender selection*/
div.radio-group-wrap.basic label input+label{
		border: 1px solid #E4E4E4;    
}
div.radio-group-wrap.basic label input:checked+label:after{
	background-color:#2DBD9D;
}
div.radio-group-wrap.basic label .radio-group-label{
	color:#5E6573;
	font-family: 'Graphik', Helvetica, Arial, sans-serif;
	font-weight:400;
}

/* privacy selection*/
.profile-create .terms-and-privacy{
	color:#5E6573;
	font-family: 'Graphik', Helvetica, Arial, sans-serif;
	font-weight:400;
	font-size: 11px;
}
.profile-create .terms-and-privacy a{
	font-family: 'Graphik', Helvetica, Arial, sans-serif;
	color:#3370BB;
}

/*create button*/
div.button-wrap button {
    background-color: #2DBD9D;
background: -moz-linear-gradient(180deg, #72DE93 0%, #2DBD9D 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2DBD9D), color-stop(100%, #72DE93)); /* safari4+,chrome */
background: -webkit-linear-gradient(180deg, #72DE93 0%, #2DBD9D 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(180deg, #72DE93 0%, #2DBD9D 100%); /* opera 11.10+ */
background: -ms-linear-gradient(180deg, #72DE93 0%, #2DBD9D 100%); /* ie10+ */
background: linear-gradient(270deg, #72DE93 0%, #2DBD9D 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2DBD9D', endColorstr='#72DE93',GradientType=1 ); /* ie6-9 */
}
div.button-wrap button.disabled:hover {
    opacity: 1;
}

div.button-wrap button.with-size span.text {
     font-family: 'Graphik', Helvetica, Arial, sans-serif;
}

/*error state*/
div.text-input-wrap.error-state .error-message {
    height: 18px;
    line-height: 18px;
}
div.text-input-wrap .error-message{
	 font-family: 'Graphik', Helvetica, Arial, sans-serif;
}
div.check-box-wrap.big-checkbox input+label{
	    border: 1px solid #E4E4E4;
}
div.check-box-wrap.big-checkbox .checkbox-label{
	font-family: 'Graphik', Helvetica, Arial, sans-serif;
	color:#5E6573;
	line-height: 16px;

}