#show-description #smart-video .header-title {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #5E6573;
    text-transform: none;
    font-size: 18px;
}
#show-description #smart-video .description .title{
	font-weight: 500;
	line-height: 12px;
}

#show-description #smart-video .description{
	padding-bottom:10px;
}
/*progres bar grey*/
#show-description #smart-video .thumbnail div.video-progress-gray {
    background-color: #AEB4BF;
 }
 /*progress bar green*/
 #show-description #smart-video .thumbnail div.video-progress-green {
    background-color: #2DBD9D;
}
/*progress bar green full*/
div.grid div.item div.thumbnail div.video-progress-green, div.tray div.item div.thumbnail div.video-progress-green{
    background-color: #2DBD9D;
}


/**right section of series page */
.show-description .desc-right {
    margin-top: 36px;
}
/*series description*/
#show-description .text-container .details-info-static .text-break, #show-description .text-container .details-info-static .text-truncate, #show-description .text-container .details-info-static .text-rest {
    line-height: 12px;
    color: #5E6573;
    font-size: 13px;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
}


#show-description .text-container .details-info-static .text-break h1, #show-description .text-container .details-info-static .text-truncate h1, #show-description .text-container .details-info-static .text-rest h1 {
    font-size: 13px;
}
#show-description .text-container div.show-links .captions, #show-description .text-container div.show-links-minimized .captions {
    float: left;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
}

#show-description .text-container div.hulu-availability .show-availability-notes li{
    line-height: 20px;
    color: #5E6573;
    font-size: 12px;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
}


/* series masthead image*/
#masthead.showpage #key-art img, #masthead.networkpage #key-art img, #masthead.spotlightpage #key-art img, #masthead.livepage #key-art img, #masthead.videogamepage #key-art img, #masthead.screeningroompage #key-art img, #masthead.sweepstakespage #key-art img{
	margin-top:60px;
}