div.play-hover-button.large{
	background-image:url(http://localhost:8888/bowie/images/hoverPlay_retina.png);
}

/*hovers state*/
#hover-box div.hover-info .title div, #hover-box div.hover-info .title a {
    font-weight: 400;
    font-size: 20px;
}
#hover-box div.hover-info .programming-type, #hover-box div.hover-info .trailer-counts, #hover-box div.hover-info .platforms{
  font-size: 12px;
  font-weight:400;
  color: #5e6573;
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
  line-height: 20px;
}

div.filters div.dropdown-wrapper div.dropdown.open {
    background: #fff;
}
div.tray div.item.size-1x1.short-form-overlay div.metadata-area div.desc span.source{
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    letter-spacing: 0px;
}

@media (-webkit-min-device-pixel-ratio: 2.0), not all, not all {

	div.dropdown .toggle:after {
	    background-image: url(http://localhost:8888/bowie/images/dropdownArrows_retina.png);
	    background-position: -1px -9px;
	    height: 10px;
    	width: 36px;
	}
	div.dropdown .toggle.active:after {
	    background-image: url(http://localhost:8888/bowie/images/dropdownArrows_retina.png);
	    background-position: -1px -9px;
	    height: 10px;
    	width: 36px;
	}
	div.dropdown .drop-wrapper .drop div.active:before{
	    background-image: url(http://localhost:8888/bowie/images/dropdownArrows_retina.png);
	}
	div.dropdown .drop-wrapper .drop div.active:hover:before{
		background-image: url(http://localhost:8888/bowie/images/dropdownArrows_retina.png);
	}
}