/*nav*/
body #wrap #inner-wrap .welcome-banner-transparent {
    background: none;
    background-color: #ffffff;
}
/*nav sticky*/
body #wrap #inner-wrap .welcome-banner{
	background-color:#ffffff;
}

.gradient{
	background:none;
}
body #wrap #inner-wrap div#banner .banner-background .gradient-bg{
	background:none;
}
body #wrap #inner-wrap div#banner.clean-banner .header{
	padding-top:10px;
}
body #wrap #inner-wrap div#banner.clean-banner .header .white {
    background-repeat: no-repeat;
    background-position: -258px -353px;
    height: 19px;
    width: 54px;
    float: left;
    background-image: url(http://localhost:8888/bowie/images/welcome_sprite_1_update.png);
    }

    body #wrap #inner-wrap div#banner .page-width .header .header-signup #welcome-signup-button .welcome-free-start {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #5E6573;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #5E6573;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    line-height: 50px;
}
body #wrap #inner-wrap div#banner.clean-banner .header .login{
	    color: #5E6573;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
}



.welcome *{
	    font-family: 'Graphik', Helvetica, Arial, sans-serif;	
}