

/**nav font styles*/
.nav-link a.text, .nav-link span.text {
  font-family: "Graphik", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
}


div.nav-container .nav-panel.dropdown.open{
  border:0px;
  background: rgba(255, 255, 255, 0);
}
div.nav-container .nav-panel.dropdown{
  border:0px;
  background: rgba(255, 255, 255, 0);
}
div.dropdown .drop-wrapper .viewport .overview{
  background-color:#FCFCFC;
  border-radius: 5px;

}
/**nav dropdown list link hover**/
div.nav-container .nav-panel .menu a:hover, div.nav-container .nav-panel .menu .sub a:hover{
  color: #2DBD9D;

}
.nav-link a.text:active, .nav-link span.text:active{
      color: #2DBD9D;
}
.nav-link a.text:hover, .nav-link span.text:hover{
      color: #2DBD9D;
}

/**weird state of not hover but not active*/
.nav-link.active a.text, .nav-link.active span.text{
  color: #2DBD9D; 
}



/* taking out strange toolbar**/
body.medium #tool-item-container .tool-bar{
  display:none;
}


/**logo**/
body #wrap #inner-wrap div#banner .page-width .header #logo div{
      background-image: url(file:///Applications/MAMP/htdocs/bowie/images/hulu_logo.png);

}