
/***removing gradients**/
/*body #wrap #inner-wrap div#banner.semitransparent .banner-background .gradient-bg{
  display:none;
}*/


/**new background for nav*/
body #wrap #inner-wrap div#banner .banner-background .gradient-bg{
    background-color: rgba(255,255,255,0.95);
    height: 60px;
    background-image: none;
    border-bottom: 1px solid #ecedf2;
}
/**background for scroll nav*/
body #wrap #inner-wrap div#banner .banner-background .semitransparent-bg{
 background-color:#fff;
}


/***moving down nav text**/
body #wrap #inner-wrap div#banner .page-width .header #browse-menu #browse-menu-list {
    margin-top: 1px;
}
body #wrap #inner-wrap div#banner .page-width #user-menu {

    margin-top: 1px;
}

/***elipise dots***/
.nav-link .more {
    margin-top: 6px;
    background-repeat: no-repeat;
    background-position: 1px -630px;
    height: 12px;
    width: 20px;
    top: 9px;
    background-image: url(http://localhost:8888/bowie/images/sprite3.png);

}
.header-sprite, body #wrap #inner-wrap div#banner .banner-background .gradient-bg, .nav-link .more, .nav-link.active .more, div.nav-container.upgrade .dropdown .menu li a.hover-upsell, div.nav-container.upsell .dropdown .menu li a.hover-upsell, div.nav-container.upgrade .dropdown .menu li a.hover-upsell:hover, div.nav-container.upsell .dropdown .menu li a.hover-upsell:hover, div.nav-container .nav-panel .browse-link:after, div.nav-container .nav-panel .browse-link:hover:after, div.nav-container .nav-panel.dropdown.open .browse-link:after, div.nav-container .nav-panel .menu a.hover-upgrade, div.nav-container .nav-panel .menu a.hover-upgrade:hover {
}


/** search bar***/
/**moving search bar to the left**/
body #wrap #inner-wrap div#banner .page-width #search-container {
    top:-2px;
    margin-left: 72px;
    }
body #wrap #inner-wrap div#banner .page-width #search-container form#search-form div.input-wrapper {
    background: url(http://localhost:8888/bowie/images/search.png) no-repeat 0 0px;
}
body #wrap #inner-wrap div#banner .page-width #search-container form#search-form div.input-wrapper:hover {
    background: url(http://localhost:8888/bowie/images/search.png) no-repeat 0 -34px;
}
body #wrap #inner-wrap div#banner .page-width #search-container form#search-form div.input-wrapper:focus, body #wrap #inner-wrap div#banner .page-width #search-container form#search-form div.input-wrapper.focus {
    background: url(http://localhost:8888/bowie/images/search.png) no-repeat 0 -68px;
}
/**placeholder text in search bar**/
body #wrap #inner-wrap div#banner .page-width #search-container form#search-form div.input-wrapper #search-placeholder {
    color: #5E6573;
    left: 5px;
  }
  /***text entered in search bar**/
body #wrap #inner-wrap div#banner .page-width #search-container form#search-form div.input-wrapper input#q {
    color: #1E1E1E;
    padding: 1px 1px 1px 1px;
  }

  /**text entered in search focus **/
body #wrap #inner-wrap div#banner .page-width #search-container form#search-form div.input-wrapper input#q:focus {
    color: #1E1E1E;
    padding: 1px 1px 1px 1px;
}

/***scroll stuff**/
/*body #wrap #inner-wrap div#banner.semitransparent .banner-bg-wrapper {
    height: 47px;
}*/

/*body #wrap #inner-wrap div#banner .banner-background .semitransparent-bg {
    top: 0;
    left: 0;
    height: 60px;
    background: rgb(213, 213, 213);
}*/
/*.z-index-layer-3, body #wrap #inner-wrap div#banner{
  background: rgb(213, 213, 213);
}*/

/**nav font styles*/


body #wrap #inner-wrap div#banner .banner-background .semitransparent-bg span.text{
  color:#fff;
}

.nav-link a.text, .nav-link span.text {
  font-family: "Graphik", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #526573;
}


div.nav-container .nav-panel.dropdown.open{
  border:0px;
  background: rgba(255, 255, 255, 0);

}
div.nav-container .nav-panel.dropdown{
  border:0px;
  background: rgba(255, 255, 255, 0);
}
div.dropdown .drop-wrapper .viewport .overview{
  background-color:#FCFCFC;
  border-radius: 5px;

}
/**nav dropdown list link hover**/
div.nav-container .nav-panel .menu a:hover, div.nav-container .nav-panel .menu .sub a:hover{
  color: #2DBD9D;

}
.nav-link a.text:active, .nav-link span.text:active{
      color: #2DBD9D;
}
.nav-link a.text:hover, .nav-link span.text:hover{
      color: #2DBD9D;
}

/**weird state of not hover but not active*/
.nav-link.active a.text, .nav-link.active span.text{
  color: #2DBD9D;
}



/* taking out strange toolbar**/
body.small #tool-item-container .tool-bar{
  display:none;
}
body.medium #tool-item-container .tool-bar{
  display:none;
}
body.large #tool-item-container .tool-bar {
    width: 1426px;
    display: none;
}



/******/
div#referral-tab-container{
  display:none;
}